* {
    margin: 0;
    padding: 0;

    color: white;

    font-family: "Cascadia Code";
    font-weight: 700;
}

.page {
    height: 100%;
    min-height: 100vh;
    background-color: #293133;
}

/* I guess you could just add username inside the ul and then make it special, i.e. add a class to that */
/* Fix this in future pls */

.navbar {
    display: flex;
    padding: 2em;

    justify-content: space-between;

    height: 20vh;
}

.navbar ul a {
    text-decoration: none;
    color: #c2c2c2;
    position: relative;
    display: inline-block;
}

.navbar ul a:hover {
    color: white;
    transition: all 0.6s;

    animation: glow 2s ease-in-out infinite alternate;
}

.username {
    display: inline-block;
    height: fit-content;
    text-decoration: none;
}

.username:hover {
    background: linear-gradient(
        to right,
        #fff 20%,
        #1164B4 30%,
        #002F55 50%,
        #0047AB 70%,
        #fff 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: usernameAnim 3s ease-in-out infinite alternate;
}

.navbar > a {
    padding-left: 1em;
}

.navbar > ul > li {
    display: inline;
    padding-inline: 1.5em;
}