* {
    margin: 0;
    padding: 0;

    font-family: Audiowide;
    color: white;
    background-color: #2d2d2d;
}

.navbar {
    display: flex;
    justify-content: space-evenly;

    padding: 40px;
    padding-inline: 20em;
}

.navbar > a {
    font-size: 1.2em;
    text-decoration: none;
}

.profile {
    display: flex;
    padding-top: 5em;
    
    justify-content: space-between;
    align-items: center;
}

.profile > .text {
    padding: 2em;
}

.profile > .text > h3 {
    font-size: 6em;
    font-weight: 500;
}

.profile > .text > p {
    font-size: 2em;
    font-weight: 500;
    padding-left: 5px;
}

.profile > .avatar {
    max-width: 45%;
}

.profile > .avatar > img {
    width: 100%;
}

@media(max-width: 1200px) {
    .navbar {
        padding-inline: 10em;
    }
}

@media(max-width: 800px) {
    .navbar {
        padding-inline: 1em;
    }
}

@media(max-width: 600px) {
    .navbar {
        justify-content: space-around;
    }

    .navbar > a {
        font-size: 1em;
    }
}