* {
    margin: 0;
    padding: 0;
    font-weight: bold;

    color: white;
}

.background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background: radial-gradient(#000000 0%, #100d17 100%); */
    background: linear-gradient(25deg, #080024 0%, #0d0137 100%);
    z-index: -10;
}

.navbar {
    display: flex;

    width: 100%;
    justify-content: space-between;
}

.nav-item-holder  {
    display: flex;
    padding-top: 1em;
    padding-inline: 2em;
    
    font-family: Audiowide;
    font-size: 1.3em;

    align-items: center;
}

.navbar > .nav-item-holder > a, .navbar > ul > .nav-item-holder > a {
    text-decoration: none;
    color: #ffffff;
    transition: color 1s ease 0s;
}

.navbar > .nav-item-holder > a:hover, .navbar > ul > .nav-item-holder > a:hover {
    color: #1957b3;
}

.navbar > ul {
    display: flex;
    align-items: center;

    padding: 1em;
}


@media (max-width: 700px) {
    .navbar > a {
        display: flex;
        padding-inline: 1em;
        padding: 1em;
        
        font-family: New Rocker;
        font-size: 2em;
        text-decoration: none;
    
        align-items: center;
    }

    .navbar > ul {
        display: none;
    }
}